[Unit]
Description=Backend Service
After=network.target

[Service]
User=expense
WorkingDirectory=/app
ExecStart=/usr/bin/node /app/index.js
Restart=always
Environment=PORT=8080
Environment=DB_HOST=34.224.214.45
Environment=DB_USER=root
Environment=DB_PASS=ExpenseApp@1
Environment=DB_NAME=transactions

[Install]
WantedBy=multi-user.target
